/*---------------------------------------------------------------------------
Reset
---------------------------------------------------------------------------*/

a,
abbr,
acronym,
address,
article,
aside,
audio,
big,
body,
center,
canvas,
caption,
cite,
code,
command,
datalist,
dd,
del,
details,
dfn,
dl,
div,
dt,
em,
embed,
fieldst,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
keygen,
label,
legend,
li,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
s,
samp,
section,
small,
span,
source,
strike,
strong,
sub,
sup,
table,
tbody,
tfoot,
thead,
th,
tr,
td,
video,
tt,
u,
ul,
var {
    border: 0 none;
    font-size: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: top;
}

ol,
ul,
li {
    list-style-type: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

blockquote,
q {
    quotes: none;
}

table,
table td {
    padding: 0;
    border: none;
    border-collapse: collapse;
}

embed {
    vertical-align: top;
}

.video embed,
.video object,
.video iframe {
    width: 100%;
    height: auto;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

article,
aside,
details,
figcaption,
main,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

:focus,
:active,
:hover {
    outline: none;
}

* {
    padding: 0;
    margin: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/*---------------------------------------------------------------------------
Customization basic elements
---------------------------------------------------------------------------*/

html,
body {
    min-width: 320px;
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    color: #333;
    font-size: 16px;
    line-height: 1;
    overflow-x: hidden;
}

a {
    color: #27b1eb;
    text-decoration: none;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;
}

input,
textarea,
select {
    font-family: 'Open Sans', sans-serif;
    color: #333;
}

input[type="text"],
input[type="email"] {
    -webkit-appearance: none;
}


/*---------------------------------------------------------------------------
Fonts
---------------------------------------------------------------------------*/

@font-face {
    font-family: 'RuachLet';
    src: url('../fonts/RuachLetPlain.eot');
    src: url("../fonts/RuachLetPlain.eot?#iefix") format('embedded-opentype'), url("../fonts/RuachLetPlain.woff2") format('woff2'), url("../fonts/RuachLetPlain.woff") format('woff'), url("../fonts/RuachLetPlain.ttf") format('truetype');
    font-weight: 100;
    font-style: normal;
}


/*---------------------------------------------------------------------------
Wrapper
---------------------------------------------------------------------------*/

.layout {
    height: 100%;
    min-height: 100%;
    position: relative;
}

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;
}

.wrapper:before,
.wrapper:after {
    content: "";
    display: table;
}

.wrapper:after {
    clear: both;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
}


/*---------------------------------------------------------------------------
Block title
---------------------------------------------------------------------------*/

.block-title {
    position: relative;
}


/*---------------------------------------------------------------------------
Adaptive header
---------------------------------------------------------------------------*/

.adaptive-menu-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 75%;
    height: 100%;
    z-index: 100;
    background: #f3f3f3;
    padding: 30px 15px;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
}

.adaptive-menu-container.adaptive-menu-container--open {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

.adaptive-menu__item {
    margin: 0 0 30px 0;
}

.adaptive-menu__item:last-child {
    margin: 0;
}

.adaptive-menu__link {
    color: #59666d;
    font-size: 28px;
}

.adaptive-menu__link:hover,
.adaptive-menu__link--active {
    color: #c1272c;
    text-decoration: none;
}

.adaptive-menu-toggle {
    display: none;
    position: absolute;
    top: 50%;
    right: 15px;
    width: 30px;
    height: 25px;
    z-index: 2;
    margin: -13px 0 0 0;
}

.menu-toggle-inner {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.menu-toggle-line {
    position: absolute;
    background: #38474f;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    display: block;
    margin: auto;
    height: 5px;
    width: 100%;
}

.menu-toggle-line--1 {
    top: 0;
    -webkit-transition: width 0.2s ease 0.4s;
    -o-transition: width 0.2s ease 0.4s;
    transition: width 0.2s ease 0.4s;
}

.menu-toggle-line--2 {
    top: 0;
    bottom: 0;
    margin: auto;
    -webkit-transition: width 0.2s ease 0.3s;
    -o-transition: width 0.2s ease 0.3s;
    transition: width 0.2s ease 0.3s;
}

.menu-toggle-line--3 {
    bottom: 0;
    -webkit-transition: width 0.2s ease 0.3s;
    -o-transition: width 0.2s ease 0.3s;
    transition: width 0.2s ease 0.3s;
}

.menu-toggle-line--4,
.menu-toggle-line--5 {
    opacity: 0;
    top: 10px;
}

.menu-toggle-line--4 {
    -webkit-transition: opacity 0.2s ease 0.2s, -webkit-transform 0.2s ease 0.2s;
    transition: opacity 0.2s ease 0.2s, -webkit-transform 0.2s ease 0.2s;
    -o-transition: opacity 0.2s ease 0.2s, -o-transform 0.2s ease 0.2s;
    -moz-transition: opacity 0.2s ease 0.2s, transform 0.2s ease 0.2s, -moz-transform 0.2s ease 0.2s;
}

.menu-toggle-line--5 {
    -webkit-transition: opacity 0.2s ease 0s, -webkit-transform 0.2s ease 0s;
    transition: opacity 0.2s ease 0s, -webkit-transform 0.2s ease 0s;
    -o-transition: opacity 0.2s ease 0s, -o-transform 0.2s ease 0s;
    -moz-transition: opacity 0.2s ease 0s, transform 0.2s ease 0s, -moz-transform 0.2s ease 0s;
}

.adaptive-menu-toggle--open .menu-toggle-line {
    background: #c2272d;
}

.adaptive-menu-toggle--open .menu-toggle-line--1 {
    width: 0;
    -webkit-transition: width 0.2s ease 0s;
    -o-transition: width 0.2s ease 0s;
    transition: width 0.2s ease 0s;
}

.adaptive-menu-toggle--open .menu-toggle-line--2 {
    width: 0;
    -webkit-transition: width 0.2s ease 0.1s;
    -o-transition: width 0.2s ease 0.1s;
    transition: width 0.2s ease 0.1s;
}

.adaptive-menu-toggle--open .menu-toggle-line--3 {
    width: 0;
    -webkit-transition: width 0.2s ease 0.2s;
    -o-transition: width 0.2s ease 0.2s;
    transition: width 0.2s ease 0.2s;
}

.adaptive-menu-toggle--open .menu-toggle-line--4 {
    opacity: 1;
    -webkit-transform: rotate(45deg) translateZ(0);
    -ms-transform: rotate(45deg) translateZ(0);
    -o-transform: rotate(45deg) translateZ(0);
    transform: rotate(45deg) translateZ(0);
    -webkit-transition: opacity 0.2s ease 0.2s, -webkit-transform 0.2s ease 0.2s;
    transition: opacity 0.2s ease 0.2s, -webkit-transform 0.2s ease 0.2s;
    -o-transition: opacity 0.2s ease 0.2s, -o-transform 0.2s ease 0.2s;
    -moz-transition: opacity 0.2s ease 0.2s, transform 0.2s ease 0.2s, -moz-transform 0.2s ease 0.2s;
}

.adaptive-menu-toggle--open .menu-toggle-line--5 {
    opacity: 1;
    -webkit-transform: rotate(-45deg) translateZ(0);
    -ms-transform: rotate(-45deg) translateZ(0);
    -o-transform: rotate(-45deg) translateZ(0);
    transform: rotate(-45deg) translateZ(0);
    -webkit-transition: opacity 0.2s ease 0.4s, -webkit-transform 0.2s ease 0.4s;
    transition: opacity 0.2s ease 0.4s, -webkit-transform 0.2s ease 0.4s;
    -o-transition: opacity 0.2s ease 0.4s, -o-transform 0.2s ease 0.4s;
    -moz-transition: opacity 0.2s ease 0.4s, transform 0.2s ease 0.4s, -moz-transform 0.2s ease 0.4s;
}


/*---------------------------------------------------------------------------
Header
---------------------------------------------------------------------------*/

.header {
    position: relative;
    padding: 23px 0;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    background: rgba(230, 230, 230, 0.8);
    letter-spacing: -10px;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    -webkit-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.2);
}

.header--scrolled {
    padding: 10px 0;
    background: rgba(230, 230, 230, 0.95);
}

.header-logo,
.header-menu {
    display: inline-block;
    vertical-align: middle;
}

.header-logo {
    width: 20%;
    letter-spacing: 0;
}

.header-menu {
    width: 80%;
    text-align: right;
}

.header-menu__item {
    display: inline-block;
    margin: 0 0 0 25px;
    letter-spacing: 0;
}

.header-menu__item:first-child {
    margin: 0;
}

.header-menu__link {
    color: #59666d;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

.header-menu__link--active,
.header-menu__link:hover {
    color: #c1272c;
    text-decoration: none;
}


/*---------------------------------------------------------------------------
Hero
---------------------------------------------------------------------------*/

.hero {
    background: url(../images/hero-bg.jpg) center top no-repeat;
    height: 884px;
    padding: 125px 0 0 0;
}

.hero-description {
    float: left;
    width: 55%;
    margin: 245px 0 0 0;
}

.block-title--hero {
    margin: 0 0 5px 0;
}

.hero-description p {
    color: #1a1a1a;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
}

.hero-description__free {
    margin: 10px 0 0 0;
    color: #bc0d0d;
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
}

.hero-buy {
    margin: 20px 0 0 200px;
}

.hero-buy__btn {
    display: inline-block;
    height: 62px;
    padding: 0 55px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    background: #0f8309;
    color: #fff;
    font-size: 28px;
    line-height: 62px;
    font-weight: 700;
    text-transform: uppercase;
}

.hero-buy__btn i {
    margin: 0 0 0 23px;
    display: inline-block;
    background: url(../images/i/i-buy.png) center right no-repeat;
    width: 40px;
    height: 100%;
}

.hero-buy__btn:hover {
    -webkit-box-shadow: inset 1px 7px 7px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: inset 1px 7px 7px 0px rgba(0, 0, 0, 0.35);
    box-shadow: inset 1px 7px 7px 0px rgba(0, 0, 0, 0.35);
    text-decoration: none;
}

.hero-bag {
    float: right;
    width: 45%;
}

.hero-bag__img {
    margin: 90px 0 0 0;
    position: relative;
}

.hero-bag-label {
    position: absolute;
    left: 0;
    top: 0;
    width: 260px;
    height: 260px;
    left: -70px;
    top: -30px;
    padding: 45px 25px 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    z-index: 1;
    background: #c2272d;
    overflow: hidden;
    color: #fff;
    font-weight: 800;
    text-align: center;
}

.hero-bag-label:before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 100%;
    height: 50%;
    background: #ca3f43;
}

.hero-bag-label:after {
    position: absolute;
    left: 12px;
    top: 12px;
    right: 12px;
    bottom: 12px;
    content: "";
    border: 5px solid #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.hero-bag-label__title,
.hero-bag-label__price {
    position: relative;
    z-index: 1;
}

.hero-bag-label__title {
    margin: 0 0 30px 0;
    font-size: 36px;
    text-transform: uppercase;
}

.hero-bag-label__price {
    font-size: 68px;
}

.hero-bag-label__price span {
    font-size: 50%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    top: -0.75em;
}


/*---------------------------------------------------------------------------
Perfect
---------------------------------------------------------------------------*/

.perfect {
    padding: 50px 0;
}

.block-title--perfect {
    margin: 0 0 90px 0;
    font-size: 72px;
    line-height: 150px;
    color: #000;
    font-weight: bold;
}

.block-title--perfectsubtext {
    color: #eee;
    font-size: 300px;
    line-height: 300px;
    font-weight: bold;
    position: absolute;
    left: 300px;
    top: 50%;
    margin: -150px 0 0 0;
}

.perfect-description,
.perfect-image {
    width: 50%;
    float: left;
}

.perfect-description p {
    color: #424242;
    font-size: 24px;
    line-height: 30px;
}

.perfect-description span {
    font-weight: 600;
}

.perfect-description-img {
    display: none;
}

.perfect-description-icons {
    margin: 85px 0 0 0;
}

.perfect-image {
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: right;
}


/*---------------------------------------------------------------------------
Perfect slider container
---------------------------------------------------------------------------*/

.perfect-slider-container {
    margin: -150px 0 0 0;
    padding: 250px 0 120px;
    background: url(../images/perfect-slider-bg.jpg) center top no-repeat;
}

.perfect-slider {
    margin: -100px 0 0 0;
    position: relative;
    z-index: 3;
}

.perfect-slider__item {
    position: relative;
    min-height: 670px;
    padding: 100px 0 0 0;
}

.perfect-slider__item-img {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.perfect-slider__item--2 .perfect-slider__item-img img {
    max-width: 97%;
}

.perfect-slider__item-content {
    float: right;
    width: 47%;
}

.perfect-slider__item-block {
    margin: 0 0 50px 0;
}

.perfect-slider__item-block:last-child {
    margin: 0;
}

.perfect-slider__item-title {
    margin: 0 0 20px 0;
    color: #2a2a35;
    font-size: 48px;
    font-weight: 700;
}

.perfect-slider__item-title--sm {
    font-size: 36px;
}

.perfect-slider__item-title--right {
    text-align: right;
}

.perfect-slider__item-ico {
    text-align: right;
}

.perfect-slider__item-ico--adaptive {
    display: none;
}

.perfect-slider.owl-carousel .owl-item img {
    width: auto;
    display: inline-block;
}

.perfect-slider.owl-carousel .owl-dots {
    text-align: center;
}

.perfect-slider.owl-carousel .owl-dot {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 0 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background: #c6c6c6;
    position: relative;
    z-index: 3;
}

.perfect-slider.owl-carousel .owl-dot:hover,
.perfect-slider.owl-carousel .owl-dot.active {
    background: #909fde;
    -webkit-box-shadow: inset -1px 3px 7px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: inset -1px 3px 7px 0px rgba(0, 0, 0, 0.35);
    box-shadow: inset -1px 3px 7px 0px rgba(0, 0, 0, 0.35);
}


/*---------------------------------------------------------------------------
Easy
---------------------------------------------------------------------------*/


/*---------------------------------------------------------------------------
Best price
---------------------------------------------------------------------------*/


/*---------------------------------------------------------------------------
Inside
---------------------------------------------------------------------------*/


/*---------------------------------------------------------------------------
Reviews
---------------------------------------------------------------------------*/


/*---------------------------------------------------------------------------
Buy
---------------------------------------------------------------------------*/


/*---------------------------------------------------------------------------
Contacts
---------------------------------------------------------------------------*/


/*---------------------------------------------------------------------------
Block title
---------------------------------------------------------------------------*/

.block-title--gradient {
    font-family: 'RuachLET';
    font-size: 150px;
    color: #c2262d;
    background: -webkit-linear-gradient(transparent, transparent), url(../images/block-title-bg.jpg) right bottom no-repeat;
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    position: relative;
    z-index: 1;
}

.block-title--additional {
    position: relative;
    z-index: 1;
    color: #242430;
}


/*---------------------------------------------------------------------------
Footer
---------------------------------------------------------------------------*/


/*---------------------------------------------------------------------------
Modal
---------------------------------------------------------------------------*/


/*---------------------------------------------------------------------------
Adaptive styles
---------------------------------------------------------------------------*/

@media only screen and (max-width: 1300px) {}

@media only screen and (max-width: 1200px) {
    .hero-description p {
        font-size: 26px;
    }
    .perfect-slider__item-img {
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        width: 40%;
        z-index: 2;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .perfect-slider__item-img {
        width: 50%;
        padding: 0 10px 0 0;
    }
    .perfect-slider__item-content {
        width: 50%;
    }
    .perfect-slider__item-title {
        font-size: 36px;
    }
}

@media only screen and (max-width: 1000px) {
    .header {
        height: auto;
    }
    .header-menu {
        display: none;
    }
    .header-logo {
        width: 100%;
        padding: 0 40px;
        text-align: center;
    }
    .adaptive-menu-toggle {
        display: block;
    }

    .hero-buy {
        margin: 20px 0 0 0;
    }
    .block-title--gradient {
        font-size: 75px;
    }
    .perfect {
        padding: 30px 0;
    }
    .block-title--perfect {
        margin: 0 0 50px 0;
        text-align: center;
    }
    .block-title--perfect,
    .block-title--perfect .block-title--gradient,
    .block-title--perfectsubtext {
        font-size: 60px;
        line-height: 60px;
    }
    .block-title--perfectsubtext {
        margin: 0 10px 0 0;
        position: static;
    }

    .block-title--perfect .block-title--gradient {
        margin: 0 10px 0 0;
    }

    .perfect-description {
        width: 100%;
        text-align: center;
    }

    .perfect-description p {
        font-size: 18px;
        line-height: 24px;
    }

    .perfect-description-img {
        margin: 30px 0 0 0;
        display: block;
    }

    .perfect-description-icons {
        margin: 30px 0 0 0;
    }

    .perfect-image {
        display: none;
    }

    .perfect-slider-container {
        margin: 0;
        padding: 50px 0;
        background: transparent;
    }

    .perfect-slider__item {
        min-height: auto;
        margin: 0;
        padding: 50px 0 0 0;
    }

    .perfect-slider__item-title {
        font-size: 32px;
    }

    .perfect-slider__item-title {
        text-align: right;
    }

}

@media only screen and (max-width: 767px) {
    input[type="text"],
    input[type="email"],
    .form-input,
    .form-submit {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
    }

    .hero {
        height: auto;
        padding: 125px 0 0 0;
        background: #fff;
    }

    .hero-bag {
        width: 100%;
        float: none;
        text-align :right;
    }
    .hero-bag-label {
        left: 15px;
    }

    .hero-description {
        margin: 0;
        width: 100%;
        float: none;
        z-index: 2;
        position: relative; 
    }

    .hero-bag__img {
        display: inline-block;
        margin: 30px 0 0 0;
    }
    .hero-buy {
        margin: 5px 0 0 0;
    }

    .block-title--perfect .block-title--gradient,
    .block-title--perfectsubtext,
    .block-title--additional {
        margin: 0 0 3px;
        display: block;
        text-align: center;
    }

    .block-title--perfectsubtext {
        margin: 0;
        font-size: 30px;
        line-height: 1;
    }
}

@media only screen and (max-width: 640px) {
    .hero-bag-label {
        padding: 30px 25px 0;
        width: 150px;
        height: 150px;
    }

    .hero-bag-label__title {
        margin: 0 0 15px 0;
        font-size: 20px;
    }

    .hero-bag-label__price {
        font-size: 36px;
    }

    .hero-bag__img img {
        max-width: 80%;
    }
    .hero-description p {
        font-size: 18px;
        line-height: 22px;
    }
    .block-title--additional {
        font-size: 30px;
        line-height: 1;
    }

    .perfect-slider__item-img--3 {
        text-align: center;
    }

    .perfect-slider__item-img--3 img {
        max-width: 60%;
    }

    .perfect-slider__item-ico--desktop {
        display: none;
    }

    .perfect-slider__item-ico-adaptive {
        display: block;
    }

    .perfect-slider__item-img {
        margin: 0 0 30px 0;
        float: none;
        width: 100%;
        padding: 0;
        position: static;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        text-align: center;
    }

    .perfect-slider__item-content {
        letter-spacing: -10px;
        width: 100%;
        float: none;
        text-align: center;
    }

    .perfect-slider__item-block {
        letter-spacing: 0;
        display: inline-block;
        vertical-align: top;
        width: 50%;
        padding: 0 7px;
    }

    .perfect-slider__item-title,
    .perfect-slider__item-title--right,
    .perfect-slider__item-ico {
        text-align: center;
    }

    .perfect-slider__item-title {
        min-height: 80px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 16px;
    }
    .perfect-slider.owl-carousel .owl-dots {
        margin: 20px 0 0 0;
    }


}

@media only screen and (max-width: 480px) {
    .hero-description__free {
        font-size: 28px;
        line-height: 1;
    }

    .hero-buy__btn {
        width: 100%;
        padding: 0 10px;
    }

    .hero-buy__btn {
        height: auto;
        padding: 20px 5px;
        line-height: 1;
        width: 100%;
        text-align: center;
    }


}